.calendar
  display: flex
  flex-direction: column
  width: 100%
  height: 100%

// Header

.calendar__header
  width: 100%
  border-bottom: 1px solid palette('grey')
  position: fixed
  background-color: palette('white')

  +above($break-small)
    position: relative

.calendar__header-inner
  display: flex
  flex-direction: column
  align-items: center
  margin-bottom: size(2)
  padding: size(2)
  padding-bottom: 0

  +above($break-medium)
    flex-direction: row
    justify-content: space-between
    align-items: center

.calendar__header__title
  margin: 0
  margin-bottom: size(1)

  +above($break-medium)
    margin-bottom: 0

  &--is-loading
    opacity: 0.6
    font-style: italic

.calendar__header__actions
  display: flex
  flex-direction: row
  flex-wrap: wrap

  button
    margin: 0 1px

.menu-button
  position: absolute
  top: size(2)
  right: size(2)

  +above($break-medium)
    position: static

.calendar__header__weekdays
  @extend .light
  padding-bottom: size(1)

.weekdays
  display: none

  +above($break-small)
    display: flex
    flex-direction: row

.weekdays__cell
  padding: 0 size(1)
  text-align: right
  width: calc(100% / 7)

  &--is-weekend
    color: palette('grey')

// Body

.calendar__body
  margin-top: 100px

  +above($break-small)
    flex: 1
    width: 100%
    margin-top: 0

    // Safari fix..
    position: relative

.month
  height: 100%

  // Safari fix..
  +above($break-small)
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0

.week-row
  display: flex
  flex-direction: column

  +above($break-small)
    flex-direction: row
    height: calc(100% / 6)
    border-bottom: 1px solid palette('white', 'dark')

    &:last-of-type
      border-bottom: none

.day-cell
  width: 100%
  padding: size(3) size(1)
  color: palette('grey')
  user-select: none

  +above($break-small)
    width: calc(100% / 7)
    border-right: 1px solid palette('white', 'dark')
    cursor: default
    margin: 0
    padding: 0

  &:last-of-type
    border-right: none

  &--is-current-month
    color: palette('grey', 'very-dark')

  &--is-weekend
    background-color: palette('grey', 'very-light')

.day-cell--is-weekend.day-cell--is-current-month
  color: palette('grey', 'dark')

.default-day-cell
  padding: size(1)
  position: relative

.default-day-cell__date
  position: absolute
  top: 3px
  right: 3px
  font-size: 90%
  padding: 4px
  border-radius: 50%

  .day-cell--is-today &
    color: palette('red')
    font-weight: 600
