.game-cell
  display: flex
  position: relative
  height: 80px

.game-cell__header
  @extend .h6

  position: absolute
  display: flex
  justify-content: space-between
  top: 5px
  left: 5px
  right: 5px
